PORT=5000
MONGO_URI=MONGO_URI=mongodb://ahmedumar7010_db_user:umar@ac-zl91rbr-shard-00-00.1qdec02.mongodb.net:27017,ac-zl91rbr-shard-00-01.1qdec02.mongodb.net:27017,ac-zl91rbr-shard-00-02.1qdec02.mongodb.net:27017/?ssl=true&replicaSet=atlas-pndbby-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=driveon_super_secret_jwt_key_2026
NODE_ENV=development
